<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFY_312XUOhWy2p6NvZEh7LlSgApkoHGg</string>
	<key>GCM_SENDER_ID</key>
	<string>508952768331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codereyamin.flutterTodoApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-app-1aabe</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-app-1aabe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508952768331:ios:0fc0a773c2fd0931d082ce</string>
</dict>
</plist>